<div class="alert alert-danger alert-dismissible" role="alert" ng-show="errorMessage">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{errorMessage}}
</div>

<div class="form-group">
  <label>Renovando o livro {{emprestimo.livro.titulo}}</label>
</div>
<div class="form-group">
  <label for="dias">Dias</label>
  <input type="text" class="form-control" id="dias" placeholder="Quantos dias faltam para devolver o livro " ng-model="emprestimo.dataEmprestimo" ng-required="true">
</div>
<button type="submit" class="btn btn-default">Salvar</button>